.carousel {
  background: url(../../../img/image\ 6.png) center/cover;
  .carousel-list {
    ol {
      li {
      }
    }
    .carousel-main {
      padding-left: 10rem;
    }
    .btn-carousel {
      width: 10%;
      border: none;
      i {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
