.regitster {
    // background: $bg-gray-c ;
    padding: 60px 0px;

    .container {

        h1 {
            text-align: center;
            @include text ($fs-2xl, $fw-4, $lh-48, $c-dark);
        }

        #frm {
            @include text ($fs-xl, $fw-4, $lh-36, $c-dark);

            .row {
                .form-1 {
                    .frm-input {
                        display: block;
                        width: 100%;
                        border: none;
                        margin: 30px 0px;
                        border-bottom: 5px solid rgba(174, 24, 226, 1);
                    }
                }

                .form-2 {
                    input {
                        display: block;
                        width: 100%;
                        border: none;
                        margin: 30px 0px;
                        border-bottom: 5px solid rgba(174, 24, 226, 1);
                    }

                    .row {
                        .row {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            p {}

                            input {
                                display: block;
                                margin: 0;
                            }

                        }

                    }

                    button {
                        margin-top: 20px;
                        @include button ($fs-xl, $fw-4, $lh-36, $c-white, $bg-pupble-ae, 10px 50px, 1px solid, none, $bg-pupble-ae, $c-white );
                    }
                }
            }
        }
    }
}