<!doctype html>
<html lang="en">

<head>
    <title>

    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- fa4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--CSS-->
    <link rel="stylesheet" href="../css/main.min.css">
</head>

<body>
    <!-- header -->
    <header>
        <div class="container">
            <div class="header_top row">
                <div class="logo col-6">
                    <img src="../image/image 3.png" alt="">
                </div>
                <div class="header_right col-6">
                    <div class="content ">
                        <div class="shop">
                            <img src="../image/image 8.png" alt="">
                            <span>(1)</span>
                        </div>
                        <a href="#">Login</a>
                        <a href="#">Register</a>
                    </div>
                </div>
            </div>
            <nav class="nav">
                <a class="nav-link active line1" href="#">Home</a>
                <a class="nav-link nguoi" href="#">Men</a>
                <a class="nav-link nguoi" href="#">Woman</a>
                <a class="nav-link " href="#">Kid</a>
                <a class="nav-link " href="#">Sport</a>
            </nav>
        </div>
    </header>
    <section class="product">
        <div class="container">
            <div class="row">
                <div class="product_img col-4">
                    <img src="../image/image 5.png" alt="">
                </div>
                <div class="product_title col-6">
                    <h1>Product name</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, ullam! Non vel corporis aliquid at
                        eveniet excepturi obcaecati consequuntur rem, accusamus suscipit exercitationem reprehenderit
                        aspernatur, deleniti sit officiis voluptatibus eos?</p>
                    <h3>Available size</h3>
                    <div id="btn">
                        <button>38</button>
                        <button>39</button>
                        <button>40</button>
                        <button>41</button>
                        <button>42</button>
                    </div>
                    <h4>85$</h4>
                    <div class="so_luong">
                        <button>+</button>
                        <span>1</span>
                        <button>-</button>
                    </div>
                    <button>Add to cart</button>
                </div>
            </div>
        </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>