<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/main.min.css">

</head>

<body>
    <!-- Header -->
    <header>
        <div class="container-fluid">
            <div class="header_top row">
                <div class="logo col-6">
                    <img src="../image/image 3.png" alt="">
                </div>
                <div class="header_right col-6">
                    <div class="content ">
                        <div class="shop">
                            <img src="../image/image 8.png" alt="">
                            <span>(1)</span>
                        </div>
                        <a href="#">Login</a>
                        <a href="#">Register</a>
                    </div>
                </div>
            </div>
            <nav class="nav">
                <a class="nav-link active line1" href="#">Home</a>
                <a class="nav-link nguoi" href="#">Men</a>
                <a class="nav-link nguoi" href="#">Woman</a>
                <a class="nav-link " href="#">Kid</a>
                <a class="nav-link " href="#">Sport</a>
            </nav>
        </div>
    </header>
    <section class="regitster">
        <div class="container">
            <h1>Regitster</h1>
            <form id="frm">
                <div class="form-group row ">
                    <div class="form-1 col-6">
                        <input type="email" class="frm-input iplay" placeholder="email" id='email'>
                        <input type="password" class="frm-input iplay" placeholder="password" id="password">
                        <input type="password" class="frm-input " placeholder="password confirm" id="password_confirm">
                    </div>
                    <div class="form-2 col-6">
                        <input type="text" class="frm-input iplay" placeholder="name" id="name">
                        <input type="text" class="frm-input iplay" placeholder="phone" id="phone">
                        <div class="row ">
                            <p>Gender:</p>

                            <input type="radio" name="gioiTinh" class="form-control  iplay" id="gender" value="true"
                                checked>
                            <p>Male</p>


                            <input type="radio" name="gioiTinh" class="form-control" value="false">
                            <p>Female</p>

                        </div>
                        <input class="btn-submit" type="button" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Footer -->
    <footer>
        <div class="footer_top">
            <div class="container">
                <div class="footer_list row">
                    <div class="item col-4">
                        <h5>GET HELP</h5>
                        <div class="item-body">
                            <a href="#">Contanct</a>
                            <a href="#">Shopping</a>
                            <a href="#">NIKEiD</a>
                            <a href="#">Nike+</a>
                        </div>
                    </div>
                    <div class="item col-4 item-br">
                        <h5>ORDERS</h5>
                        <div class="item-body">
                            <a href="#">Payment options</a>
                            <a href="#">Shipping and delivery</a>
                            <a href="#">Returns</a>
                        </div>
                    </div>

                    <div class="item col-4">
                        <h5>REGISTER</h5>
                        <p>Createe one account to manage everything you do with Nike, from your shopping preferences to
                            your Nike+ activity.</p>
                        <a class="style_red" href="#">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="footer_list row">
                    <div class="item col-4">
                        <h5>EMAIL SIGN UP</h5>
                        <p>Be the first to know about new product and special offers.</p>
                        <a href="#">Sign up now</a>
                    </div>
                    <div class="item col-4 item-br">
                        <h5>GIFT CARDS</h5>
                        <p>Give the gift thar always fits.</p>
                        <a href="#">View cards</a>
                    </div>
                    <div class="item col-4">
                        <h5>STORES NEAR YOU</h5>
                        <p>Locate Nike retail store or authorized retailer.</p>
                        <a href="#">Search</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
        integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="../controllers/regitster.js"></script>
</body>

</html>